
<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8" />

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- stuff -->
        <link rel="icon" type="image/png" href="" />
        <link rel="canonical" href="" />

        <title>Peter Magro | <%= whoami %></title>

        <!-- fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100;200;300;400;500;600;700;800&family=Major+Mono+Display&family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet"> 

        <!-- styles -->
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/custom.css">
        <link rel="stylesheet" href="/css/textstyles.css">
    </head>
    
    <body>
        <div id="page-container">
            
            <div class="header">
                <div class="header-container">
                    <a class="logo left" href="/">
                        <img src="res/images/logo.png" scale="10%" id="logo"/>
                    </a>
                    <nav class="main-nav">
                        <div class="main-nav-container">
                            <%- include ('../partials/navigation.ejs') %>
                        </div>
                    </nav>
                </div>
            </div>