<!-- <div class="mobile-warn"> This website does not yet support mobile or small-screen platforms </div> -->

<%- include ('../partials/head.ejs') %>

    <div class="main-container">
        <div id="md-content">
            <!-- Render main content -->
            <%- md_content %>
        </div>
    </div>
    
<%- include ('../partials/footer.ejs') %>